/* @import 'colors'; */

:local(.styles) {
    .menu {
        height: 100px;
    }

    .container {
        padding: 1em;

        .sidebar {
            min-width: 300px;
        }

        .map {}
    }
}
